.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;

    -webkit-box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    height: 100px;
    border-radius:10px;

    .left,.right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 14px;
            color:#616161;
        }

        .counter{
            font-size: 28px;
            font-weight: 300;
        }

        .link{
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid #616161;
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px; 
            cursor: pointer;
            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }

        .icon{
            font-size: 25px;
            padding: 5px;
            align-self:flex-end;
            cursor: pointer;
        }
    }
}